<div class="wrap">
  <h2>WP-Syntax-Highlighter Settings</h2>
  <form method="POST" action="{{ formUrl }}">
  {{ nonceField | raw }}
  <table class="form-table">
    <tbody>
      <tr>
        <th scope="row">
          <label for="theme">Theme</label>
        </th>
        <td>
          <select name="theme" id="theme">
            {% for themeName in themes|sort %}
              <option value="{{ themeName}}"
              {{ themeName == theme ? 'selected' : '' }}>
              {{ themeName | replace({'_': ' ', '.': ' ', '-': ' '}) | capitalize }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="highlightSyntaxHighlighter">Highlight Syntax Highlighter Code Blocks</label>
        </th>
        <td>
          <input type="checkbox" id="highlightSyntaxHighlighter" name="highlightSyntaxHighlighter"
          {{ highlightSyntaxHighlighter ? 'checked' : '' }} />
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="highlightGeshi">Highlight GeSHi Code Blocks</label>
        </th>
        <td>
          <input type="checkbox" id="highlightGeshi" name="highlightGeshi"
          {{ highlightGeshi ? 'checked' : '' }} />
        </td>
      </tr>
    </tbody>
  </table>
  <p class="submit">
    <input name="submit" id="submit" class="button button-primary" value="Save Changes" type="submit">
    <input name="reset" id="reset" class="button" value="Restore Defaults" type="submit">
  </p>
  </form>
</div>
